@model _011_MvcApplication.Models.PESSOA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PESSOA</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.COD_PESSOA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.COD_PESSOA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NOME_PESSOA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NOME_PESSOA)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SALARIO_PESSOA)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SALARIO_PESSOA)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
